.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
}

#home {
  color: #f8f9fa;
}

#menu {
  color: #e9ecef;
  padding: 100px 20px;
  border-bottom: 1px solid #ccc;
}

#about {
  color: #dee2e6;
  padding: 100px 20px;
  border-bottom: 1px solid #ccc;
}

#contact {
  color: #ced4da;
  padding: 100px 20px;
  border-bottom: 1px solid #ccc;
}